.card {
  //   background-image: url("../../Image/weather.jpg");
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  flex-direction: row;
  margin-top: 100px;
  // height: 100%;
  width: 100%;
}
.top {
  color: white;
  font-size: 30px;
  margin-top: 100px;
}
