.card {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  flex-direction: row;
  margin-top: 100px;
  // width: 100%;
}
.top {
  color: white;
  font-size: 30px;
  margin-top: 50px;
}
@media screen and (max-width: 997px) {
  .card {
    display: grid;
  }
}
