.App {
  font-family: sans-serif;
  display: flex;
  // justify-content: center;
  flex-direction: column;
  text-align: center;
  // color: #f1f2f6;
  border: 2px solid white;
  justify-content: center;
  height: 400px;
  // width: 300px;
}
body {
  font-size: 1.2rem;
  // background: #bdc3c7;
}
.result {
  // margin-top: 100px;
  border: 2px solid white;
  height: 400px;
}
h3 {
  color: white;
  margin-top: 100px;
}
p {
  color: white;
  cursor: pointer;
  padding: 10px;
  border: 2px solid white;
}
span {
  color: white;
}
.result {
  margin-top: 20px;
}

.third {
  font-size: 25px;
  color: white;
  margin-top: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.forth {
  font-size: 25px;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  // border: 2px solid white;
}

// .options {
//   cursor: pointer;
//   border: 2px solid white;
//   padding: 10px;
// }

// .selected {
//   background: linear-gradient(to right, #74ebd5, #acb6e5) !important;
// }

ul {
  list-style-type: none;
}
