.navitems {
  display: inline-block;
  height: 30px;
  width: 350px;
}

.navitem {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
}

// .navitem:focus {
//   background-color: yellow;
// }
