.navitems {
  display: inline-block;
  height: 30px;
  width: 350px;
  margin-top: 30px;

  // border: 2px solid black;
}

.navitem {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
}
