.App {
  background-image: url("./Image/stars-and-clouds-at-nighttime-1229042.jpg");
  background-size: cover;
  height: 100vh;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .App {
    height: 150%;
  }
}
